body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
div{
    margin: 0px auto;
    width: 400px;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding: auto;
    border-left: 8px solid gray;
    border-bottom: 4px solid gray;
}
img{
    width: 300px;
    border-radius: 15px;
    border: 2px dashed gray;
}
h2{
    font: normal 18pt helvetica;
    text-decoration: underline;
}
p{
    font: normal 12pt arial;
    line-height: 15px;
    text-align: justify;
}
a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: rgb(209, 255, 255);
    text-decoration: none;
    background-color: rgb(23, 73, 23);
    padding: 4px 8px;
    border-radius: 15px;
}